<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2014 Luke Klinker

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.klinker.android.twitter" >

    <uses-sdk tools:overrideLibrary="android.support.wearable" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.klinker.android.twitter.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.klinker.android.twitter.permission.C2D_MESSAGE" />

    <application
        android:name="com.klinker.android.twitter.data.App"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/play_services_version" />

        <provider
            android:name="com.klinker.android.twitter.data.sq_lite.HomeContentProvider"
            android:authorities="com.klinker.android.twitter.provider"
            android:exported="true"
            android:multiprocess="true" />

        <activity
            android:name="com.klinker.android.twitter.ui.setup.TutorialActivity"
            android:theme="@style/Theme.Tutorial" />
        <activity
            android:name="com.klinker.android.twitter.ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.drawer_activities.RetweetActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/retweets"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.manipulations.PhotoViewerDialog"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.PhotoViewerDark" />
        <activity
            android:name="com.klinker.android.twitter.manipulations.LauncherPhotoViewerDialog"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.PhotoViewerDark.Popup" />
        <activity
            android:name="com.klinker.android.twitter.ui.drawer_activities.FavoritesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/favorite_tweets"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.drawer_activities.FavoriteUsersActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/favorite_users"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.drawer_activities.lists.ViewUsers"
            android:configChanges="orientation|screenSize"
            android:label="@string/favorite_users"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.drawer_activities.discover.DiscoverPager"
            android:configChanges="orientation|screenSize"
            android:label="@string/local_trends"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.drawer_activities.lists.ListsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lists"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.scheduled_tweets.NewScheduledTweet"
            android:configChanges="orientation|screenSize"
            android:label="@string/scheduled_tweets"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.scheduled_tweets.ViewScheduledTweets"
            android:configChanges="orientation|screenSize"
            android:label="@string/scheduled_tweets"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.drawer_activities.SavedSearchesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/saved_searches"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.drawer_activities.lists.ChoosenListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/lists"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.DirectMessageConversation"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.settings.configure_pages.ConfigurePagerActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TalonDark" />
        <activity
            android:name="com.klinker.android.twitter.settings.configure_pages.ListChooser"
            android:label="@string/lists"
            android:theme="@style/Theme.TalonDark" />
        <activity
            android:name="com.klinker.android.twitter.ui.search.SearchPager"
            android:configChanges="orientation|screenSize"
            android:label="@string/search"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitter.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mobile.twitter.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitter.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mobile.twitter.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.twitter.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mobile.twitter.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.twitter.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mobile.twitter.com"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.drawer_activities.discover.trends.SearchedTrendsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/trends"
            android:launchMode="singleTop"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.drawer_activities.discover.trends.LauncherSearchedTrends"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/trends"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.setup.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name_full"
            android:theme="@style/Theme.TalonDark" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.setup.Version2Setup"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name_full"
            android:theme="@style/Theme.TalonDark" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.BrowserActivity"
            android:label="@string/app_name_full"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.PlainTextBrowserActivity"
            android:label="@string/app_name_full"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.MainActivityPopup"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.launcher_page.LauncherPopup"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.utils.redirects.RedirectToPopup"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.utils.redirects.RedirectToLauncherPopup"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.utils.redirects.RedirectToTimeline"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.utils.redirects.RedirectToMentions"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.utils.redirects.RedirectToDMs"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.utils.redirects.RedirectToDrawer"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.utils.redirects.SwitchAccountsRedirect"
            android:label="@string/app_name"
            android:theme="@style/Theme.TalonDark" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.compose.ComposeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.compose.ComposeSecAccActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.compose.NotificationCompose"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.compose.NotificationComposeSecondAcc"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.compose.NotificationDMCompose"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.compose.RetryCompose"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.compose.WidgetCompose"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.compose.LauncherCompose"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.compose.ComposeDMActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/compose_activity"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.settings.FAQActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/faq"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.settings.FeaturesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/features_explained"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.tweet_viewer.TweetPager"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.tweet_viewer.LauncherTweetPager"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.tweet_viewer.NotiTweetPager"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.tweet_viewer.ViewRetweeters"
            android:configChanges="orientation"
            android:label="@string/view_retweeters"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.tweet_viewer.ViewPictures"
            android:configChanges="orientation"
            android:label="@string/pictures"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.drawer_activities.discover.people.PeopleSearch"
            android:configChanges="orientation"
            android:label="@string/suggested_users"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.tweet_viewer.TweetActivityWidget"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.profile_viewer.ProfilePager"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.ui.profile_viewer.LauncherProfilePager"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.TalonDark.Popup"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.settings.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/talon_settings"
            android:launchMode="singleTop"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.klinker.android.twitter.settings.PrefActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/talon_settings"
            android:launchMode="singleTop"
            android:theme="@style/Theme.TalonDark"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>

        <service android:name="com.klinker.android.twitter.services.TalonPullNotificationService" >
        </service>
        <service android:name="com.klinker.android.twitter.services.SendTweet" >
        </service>
        <service android:name="com.klinker.android.twitter.services.SendQueue" >
        </service>
        <service android:name="com.klinker.android.twitter.services.CatchupPull" >
        </service>
        <service android:name="com.klinker.android.twitter.services.StopPull" >
        </service>
        <service
            android:name="com.klinker.android.twitter.services.PreCacheService"
            android:exported="true" >
        </service>
        <service android:name="com.klinker.android.twitter.services.MarkReadService" >
        </service>
        <service android:name="com.klinker.android.twitter.services.MarkReadSecondAccService" >
        </service>
        <service android:name="com.klinker.android.twitter.services.ReadInteractionsService" >
        </service>
        <service
            android:name="com.klinker.android.twitter.services.TimelineRefreshService"
            android:exported="true" >
        </service>
        <service android:name="com.klinker.android.twitter.services.WidgetRefreshService" >
        </service>
        <service
            android:name="com.klinker.android.twitter.services.MentionsRefreshService"
            android:exported="true" >
        </service>
        <service android:name="com.klinker.android.twitter.services.SecondMentionsRefreshService" >
        </service>
        <service android:name="com.klinker.android.twitter.services.DirectMessageRefreshService" >
        </service>
        <service android:name="com.klinker.android.twitter.services.SendScheduledTweet" >
        </service>
        <service android:name="com.klinker.android.twitter.services.TrimDataService" >
        </service>
        <service
            android:name="com.klinker.android.twitter.ui.launcher_page.HandleScrollService"
            android:exported="true" >
        </service>
        <service
            android:name="com.klinker.android.twitter.ui.launcher_page.SetAccount"
            android:exported="true" >
        </service>
        <service
            android:name="com.klinker.android.twitter.ui.launcher_page.StartPull"
            android:exported="true" >
        </service>
        <service android:name="com.klinker.android.twitter.services.TweetWearableService" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <receiver android:name="com.klinker.android.twitter.receivers.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.klinker.android.twitter.receivers.NotificationDeleteReceiverOne"
            android:exported="true" />
        <receiver
            android:name="com.klinker.android.twitter.receivers.NotificationDeleteReceiverTwo"
            android:exported="true" />
        <receiver android:name="com.klinker.android.twitter.receivers.ConnectivityChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.klinker.android.twitter.receivers.QueueTweets" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.klinker.android.twitter.receivers.ThemeConfigurationReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.klinker.android.SET_THEME" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.klinker.android.twitter.utils.MySuggestionsProvider"
            android:authorities="com.klinker.android.MySuggestionsProvider" />

        <!-- Widget -->
        <receiver
            android:name="com.klinker.android.twitter.widget.WidgetProvider"
            android:label="@string/talon_large_widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.klinker.android.talon.UPDATE_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/card_widget" />
        </receiver>

        <!-- unread widget -->
        <receiver
            android:name="com.klinker.android.twitter.widget.UnreadWidgetProvider"
            android:label="@string/unread_bar_widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.klinker.android.talon.UPDATE_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/unread_widget" />
        </receiver>

        <receiver
            android:name="com.klinker.android.twitter.receivers.PushNotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.klinker.android.twitter" />
            </intent-filter>
        </receiver>
        <service android:name="com.klinker.android.twitter.services.PushNotificationService" />

        <activity
            android:name="com.klinker.android.twitter.widget.WidgetProxyActivity"
            android:theme="@style/Theme.TalonDark" />

        <service
            android:name="com.klinker.android.twitter.widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service android:name="com.klinker.android.twitter.widget.WidgetProvider$CardWidgetService2" />
        <service android:name="com.klinker.android.twitter.widget.UnreadWidgetProvider$UnreadWidgetService" />

        <!-- DashClock -->
        <service
            android:name="com.klinker.android.twitter.widget.TalonDashClockExtension"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name_full"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/extension_description" />
            <meta-data
                android:name="settingsActivity"
                android:value=".settings.DashClockSettingsActivity" />
        </service>

        <activity
            android:name="com.klinker.android.twitter.settings.DashClockSettingsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TalonLight" />
    </application>

</manifest>
